# Travis only support v 3.7 on this distribution
dist: xenial

matrix:
  include:
    - name: Pi
      language: python
      python: "3.7"

      # install dependencies
      install:
        - pip install -r requirements-test.txt

      # run unit tests
      script:
        - cp pi/example.pi_config.ini pi/pi_config.ini
        - pytest --cov=heartbeat

    - name: Server
      language: node_js         # node version specified in .nvmrc

      # install dependencies
      install:
        - cd server
        - npm install

      # install database
      addons:
        postgresql: "12"
        apt:
          packages:
          - postgresql-12
          - postgresql-client-12

     
      # define environment variables 
      env:
        - WEB_USERNAME_TEST=TravisDashboardUsername
        - PASSWORD_TEST=TravisDashboardPassword
        - SECRET_TEST=TravisCookieSecret
        - DOMAIN_TEST=chatbot-dev.brave.coop
        - PG_USER_TEST=brave
        - PG_PASSWORD_TEST=travispassword
        - PG_PORT_TEST=5433
        - PG_HOST_TEST=localhost
        - PG_USER=brave
        - PG_PASSWORD=travispassword
        - PG_PORT=5433
        - PG_HOST=localhost
        # Test phone number (from https://www.twilio.com/docs/iam/test-credentials#test-sms-messages-parameters-From)
        - RESPONDER_PHONE_TEST=+15005550006
        - TWILIO_FALLBACK_FROM_NUMBER_TEST=+15005550006
        - TWILIO_HEARTBEAT_FROM_NUMBER_TEST=+15005550006
        # Test phone number (from https://www.twilio.com/docs/iam/test-credentials#test-sms-messages-parameters-From)
        - STAFF_PHONE_TEST=+15005550006
        # TWILIO_SID_TEST (from https://www.twilio.com/console/voice/project/test-credentials)
        - secure: "PWfn0s7fHZMkn6M7iz3tfjbXcjkctNQewfb6NoiS7qT+6B6rgTNm9Sl4f/s3R2ygrRary9z/PO6FOUVp0Rk3X2j6PNT0zHyrd78Fu9USsXzm7tzct7D143S+nANNmwpe/PleP9Nfl7YzW6PdmB+Hp/4/BJKuyubBSH6BEDaZapLQRK5X6/klQoEnNyrGmhHMqem3HYlQkfqVuot1JRIXlxEo80U0wXQftKRqgGSr8WHImiMkMQvU2VRVe6sEmjNHFT6Mq0eZqLpX5Y9bmNdGkOMAN4hw16uXokqx4K/3M+CscNLT4RQLWJuFVYXN1eutZRmBGGUx5+CsXpgMVQVyd2qGIQtMytENNWHkMLnS/xSXzm3KzO8bJho7m+bliLIYm4I5vroFHe8dWbn9pUS6I9Az9YLSbjDHlTzUJvSGHOFe80XgsuVp5ZZpEg82u+h/HjDt7eUEqjPNPCbwqwEmK+AYfmkWNXArd5UkTF7vJclHwk0vv8YSZ/8OhbtktQN4P4BlJjLvzs44FxPIFyHdQaPYjfFGB+i0Gh/hU2fIqzujLCNtty6D3pNYvmmAsNDZkfyyR2Tt5bws4PVb7ze0H2qSELO3W5R194t/DN9SeG+afG+wHAxRjJantoiQEhvVxUg2cvn5AtntW0Z2s/ykhJo/eDSP64dbpFAJ8MHYpXA="
        # TWILIO_TOKEN_TEST (from https://www.twilio.com/console/voice/project/test-credentials)
        - secure: "xDH0U8Y9En68duGzZtVSTV8XDbUuu9ga0XEZUGQHLCki2mAYSVs+6O0iXz6o2FpiOq1VzP5mHzr+s5lfSM0dK2jQl7YapyDa9bWsMzdBYE9eubM2zD6DOx5oZEyfAMdyc+pEm53CUj++S62ut3YgKn/UoqiJwx/rm1Sjm2aDJ/rAQy+Pqzm+vEJiJVTIWsrawnQKCMqyKfQqYTGpAIli7TYiF217JRJi8b1i0PpV7BkhUaL8PO6ftmsZgwCoaEEr92HNi5JC0crDnrLKvgxao5Vt8IUJ06OZEVmnh/FpQDfbggJlFzplSQdPWlEY4lMyFp3KJRGJ88s3o/DMR14DrjHSUeB1rGztHlmXsIejb/rVBMEJBjQtJ0N9BvpUnu1a2Z/QP2v1JQOKDdGO4lzuq4ZIvEmKMm4LesJVDKnGiqK9TQJgRH2FSk+d+CFxIiXm3S1lzyceuHjs7NgTxjv33LmGJEKX8fkxp8ToP+SZGrnnLNPoTrfhSAHK37iJVmSYbPAv3by5f+n0IyqUrbhqUXgKx8GBBCLLXRnwAlohy5GBU/Uqj8pU2PHrKeQG8VCFsRYuLx5wqkFj2uJrODl5NB5U6zu6ynSPypGZct82vx9RpI0HWToZnFZf9ReXRaepYNfsH1SAo6br7oMZtI/MoSVVE3+jHuHsx1sUvfzMhTc="
        - PGVER=12
        - PGPORT=5433
        - REMINDER_TIMEOUT_MS_TEST=1000
        - FALLBACK_TIMEOUT_MS_TEST=2000
        - FLIC_BUTTON_PRESS_API_KEY_TEST=testFlicApiKey

      # setup database
      before_script:
        - bash setup_postgresql_local_dev.sh

      # run linter and unit tests
      script:
        - npm run lint
        - sudo env "PATH=$PATH" npm run test

    - name: Pairing Tool
      language: node_js         # node version specified in .nvmrc

      # install dependencies
      install:
        - cd pairing-tool
        - npm install

      # run linter
      script:
        - npm run lint
