#
# IMPORTANT NOTES
# when setting up a chatbot installation, this file gets copied and renamed as .env
# note that .env is ignored by git so any changes to the schema need to be copied manually
# for this reason it is also important to let other developers know when making changes to this schema

# Twilio account ID
TWILIO_SID=abc123
TWILIO_SID_TEST=def456 # must be from Twilio Test Credentials: https://www.twilio.com/console/project/settings

# Twilio auth token
TWILIO_TOKEN=abc123
TWILIO_TOKEN_TEST=def456 # must be from Twilio Test Credentials: https://www.twilio.com/console/project/settings

# Twilio messaging service to use for incoming text messages
# Get this from Twilio --> Button Project --> Messaging --> Services --> All Buttons Messages --> Messaging Service SID
TWILIO_MESSAGING_SERVICE_SID=abc123
TWILIO_MESSAGING_SERVICE_SID_TEST=abc123

# The username for logging into the dashboard
WEB_USERNAME=username 
WEB_USERNAME_TEST=username

# Password for logging into the dashboard
PASSWORD=password 
PASSWORD_TEST=password

# Cookie secret
SECRET=secret 
SECRET_TEST=secret

# Domain name pointing to this server (determines location of SSL certificates)
DOMAIN=example.com
DOMAIN_TEST=example.com

# Username for connecting to postgres
PG_USER=example
PG_USER_TEST=example

# Password for connecting to postgres
PG_PASSWORD=examplepassword
PG_PASSWORD_TEST=examplepassword

# Remote host for managed postgres
PG_HOST=examplehost
PG_HOST_TEST=examplehost

# Port for accessing remote database host
PG_PORT=12345
PG_PORT_TEST=12345

# Sentry data source name
SENTRY_DSN=exampleSentryUrl.com

# Environment tag for Sentry
SENTRY_ENVIRONMENT=exampleenvironment

# Release tag for Sentry
SENTRY_RELEASE=examplerelease

# Any new Button presses after a period of this much inactivity will start a new session
SESSION_RESET_TIMEOUT=7200000
SESSION_RESET_TIMEOUT_TEST=7200000

# OneSignal App ID from OneSignal --> Settings --> Keys & IDs --> OneSignal App ID
ONESIGNAL_APP_ID=guid-here
ONESIGNAL_APP_ID_TEST=guid-here

# OneSignal App ID from OneSignal --> Settings --> Keys & IDs --> REST API Key
ONESIGNAL_API_KEY=jumbleOfCharactersHere
ONESIGNAL_API_KEY_TEST=jumbleOfCharactersHere

# OneSignal Alert Android Category ID
# Login to our OneSignal Account. Get this value from Settings --> Messaging --> Android Categories --> Alerts and Reminders --> Channel ID
ONESIGNAL_ALERT_ANDROID_CATEGORY_ID=guid-here
ONESIGNAL_ALERT_ANDROID_CATEGORY_ID_TEST=android-group-guid

# Threshold for sending out an initial Vitals Alert to the Responders Phone and Heartbeat Recipients (in seconds)
VITALS_ALERT_THRESHOLD=900
VITALS_ALERT_THRESHOLD_TEST=900

# Theshold for sending out an initial Gateway Disconnection message to the Responder Phones and Heatbeat Recipients (in seconds)
GATEWAY_VITALS_ALERT_THRESHOLD=2160
GATEWAY_VITALS_ALERT_THRESHOLD_TEST=900

# Threshold for sending out an initial RAK Button Disconnection message to Sentry (in seconds)
RAK_BUTTONS_VITALS_ALERT_THRESHOLD=8100
RAK_BUTTONS_VITALS_ALERT_THRESHOLD_TEST=8100

# Theshold for sending out an initial Button Low Battery message to the Responder Phones and Heatbeat Recipients (in percentage)
BUTTON_LOW_BATTERY_ALERT_THRESHOLD=20
BUTTON_LOW_BATTERY_ALERT_THRESHOLD_TEST=20

# Threshold for sending out a Vitals Alert Reminder to the Responders Phone and Heartbeat Recipients (in seconds)
SUBSEQUENT_VITALS_ALERT_THRESHOLD=151200
SUBSEQUENT_VITALS_ALERT_THRESHOLD_TEST=120

# Primary and secondary API keys used by RAK to send API calls to the Buttons server
# Two keys are used to allow for seamless API key rotation
# Get this from 1Password --> Brave Buttons Credentials --> AWS Lambda Function API key
RAK_API_KEY_PRIMARY=123
RAK_API_KEY_PRIMARY_TEST=123
RAK_API_KEY_SECONDARY=123
RAK_API_KEY_SECONDARY_TEST=123

# AWS Region of the Buttons IoT cookieParser
# Get this from 1Password --> Brave Buttons Credentials --> [ENV] Buttons AWS root account
AWS_REGION=us-east-1
AWS_REGION_TEST=us-east-1

# Access Key ID for using the AWS API
# Get this from 1Password --> Brave Buttons Credentials --> [ENV] Buttons AWS root account
AWS_ACCESS_KEY_ID=key
AWS_ACCESS_KEY_ID_TEST=key

# Secret Access Key for using the AWS API
# Get this from 1Password --> Brave Buttons Credentials --> [ENV] Buttons AWS root account
AWS_SECRET_ACCESS_KEY=secret
AWS_SECRET_ACCESS_KEY_TEST=secret

# Device profile to use with our RAK Buttons
# Get this from AWS IoT --> Manage --> Wireless Connectivity --> Profiles --> Device profiles for the one named "RAK7201 Button"
AWS_DEVICE_PROFILE_ID=guid-123
AWS_DEVICE_PROFILE_ID_TEST=guid-123

# Service profile to use with our RAK Buttons
# Get this from AWS IoT --> Manage --> Wireless Connectivity --> Profiles --> Service profiles for the one named "RAK 7201 Service"
AWS_SERVICE_PROFILE_ID=guid-123
AWS_SERVICE_PROFILE_ID_TEST=guid-123

# Name of the Brave ClickUp Team where the Sensor Tracker lives
# Get this from Brave's Clickup --> Settings --> Brave's Workspace Settings
CLICKUP_TEAM_NAME=Our Team Name
CLICKUP_TEAM_NAME_TEST=Our Team Name

# ID of the Brave ClickUp Team where the Sensor Tracker lives
# Get this from Brave's Clickup --> In the URL https://app.clickup.com/<this number here>/home
CLICKUP_TEAM_ID=123
CLICKUP_TEAM_ID_TEST=123

# Primary and secondary API keys used by PA to send API calls to the Sensors server
# Two keys are used to allow for seamless API key rotation
# Get this from Digital Ocean --> Apps --> particle-accelerator --> Settings --> Components: particle-accelerator --> Environment Variables --> REACT_APP_BRAVE_API_KEY
PA_API_KEY_PRIMARY=MyLongKey
PA_API_KEY_PRIMARY_TEST=MyLongKey
PA_API_KEY_SECONDARY=MyLongKeyBackup
PA_API_KEY_SECONDARY_TEST=MyLongKeyBackup

# The client ID of PA (for use in brave-alert-lib)
# Get this from Google Cloud --> Brave PA Sign-In --> APIs & Services --> Credentials --> Web ID / Web ID (dev)
PA_CLIENT_ID=fakeclientid.apps.googleusercontent.com
PA_CLIENT_ID_TEST=fakeclientid.apps.googleusercontent.com

# The client secret of PA (for use in brave-alert-lib)
# Get this from Google Cloud --> Brave PA Sign-In --> APIs & Services --> Credentials --> Web ID / Web ID (dev)
PA_CLIENT_SECRET=fakeclientsecret
PA_CLIENT_SECRET_TEST=fakeclientsecret
