#
# IMPORTANT NOTES
# when setting up a chatbot installation, this file gets copied and renamed as .env
# note that .env is ignored by git so any changes to the schema need to be copied manually
# for this reason it is also important to let other developers know when making changes to this schema

# Twilio account ID 
TWILIO_SID=abc123
TWILIO_SID_TEST=def456

# Twilio auth token 
TWILIO_TOKEN=abc123
TWILIO_TOKEN_TEST=def456

# The username for logging into the dashboard
WEB_USERNAME=username 
WEB_USERNAME_TEST=username

# Password for logging into the dashboard
PASSWORD=password 
PASSWORD_TEST=password

# Cookie secret
SECRET=secret 
SECRET_TEST=secret

# Domain name pointing to this server (determines location of SSL certificates)
DOMAIN=example.com
DOMAIN_TEST=example.com

# Username for connecting to postgres
PG_USER=example

# Password for connecting to postgres
PG_PASSWORD=examplepassword
